@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');

:root {
    --primary: #5cff50; ;
    --primary-hover: #CD7D7C;                
    --secondary: #EFD0F8;
    --secondary-hover: #B8A1D9;
    --aura: #9265CA80;
    --background: #261E5A;
    --navbar-height: 3.75rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Mulish, sans-serif;
}
html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
  
}


.contenido {
    flex: 1;
}


.background {
    display: block;
    width: 100vw;
    height: 100vh;
    background-image: url(assets/universe.jpg);
    opacity: 0.5;
    z-index: -1;
    background-size: cover;
    background-repeat: no-repeat;
}

.menu__wrapper {
    display: flex;
    position: relative;
    flex-direction: row;
    z-index: 2;
}

.menu__bar {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding-right: 1.5rem;
    gap: 2rem;
    background-color: var(--background);
    height: 3.75rem;
}

.menu-icon {
    cursor: pointer;
    display: flex;
}

.navigation {    
    display: flex;
    flex-direction: row;
    list-style-type: none;
    gap: 1.5rem;
    padding: 0;
    background-color: var(--background);
}

.logo {
    margin-left: 1rem;
    width: 2rem;
    height: 2rem;
    cursor: pointer;
    isolation: isolate;
}

@keyframes fade {
    0% { opacity: 0 }
    100% { opacity: 1 }
}
                    
.navigation > li {
  display: flex;
  position: relative;
  padding: 0;
  color: white;
  cursor: pointer;
  width: max-content;
  transition: all 0.2s;
}

.navigation > li:hover {
    color: var(--primary)
}

.navigation > li::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 0.125rem;
  bottom: -0.3rem;
  left: 0;
  background: linear-gradient(90deg, var(--background), var(--primary), var(--background));
  transform-origin: bottom center;
  transition: transform 0.3s ease-out;
}

.navigation > li:hover::after {
  transform: scaleX(1);
  transform-origin: bottom center;
}

@media (min-width: 600px) {
    .menu-icon {
        display: none;
    }
}

@media (max-width: 600px) {
    .navigation {
        display: none;
    }
    .menu-icon {
        display: block;
    }

    .navigation--mobile {
        top: var(--navbar-height);
        position: absolute;
        display: flex;
        padding: 1.25rem;
        background-color: var(--background);
        width: 100%;
        height: calc(100vh - var(--navbar-height));
        gap: 0.5rem;
        flex-direction: column;
        animation: fade 1s ease-in 1 forwards;
    }
}

/*codigo pagina principal*/
.f1_silueta{
    width: 40%;
    height: auto;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}


/* Estilos generales para pantallas pequeñas */
@media (max-width: 600px) {
    

    .f1_silueta {
        width: 90%; /* Ajusta el tamaño de la imagen */
        height: auto; /* Mantiene la proporción de la imagen */
    }
}

a{
    text-decoration: none;
    font-size: 16px;
    color: #ffffff;
}


/*footer*/


footer {
    background-color: #261E5A;
    
    padding: 20px 0;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 12rem; /* altura del footer */
}



.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}
.footer-section {
    flex: 1;
    min-width: 200px;
    margin: 10px;
}
.footer-section h5 {
    margin-top: 0;
    margin-bottom: 10px;
}
.footer-section p, .footer-section ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.footer-section a, p, h5, label{
    color: #fcfcfc;
    text-decoration: none;
}
.footer-section a:hover {
    text-decoration: underline;
}
.footer-bottom {
    text-align: center;
    padding: 10px 20px;
    background-color: #797979;
}
@media (max-width: 768px) {
    .footer-container {
        flex-direction: column;
        align-items: center;
    }
}

/*Inicio chat*/
/* From Uiverse.io by ahmed150up */ 
.card {
    margin-top: 10%;
    width: 260px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .chat-header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    font-size: 18px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
  
  .chat-window {
    height: 220px;
    overflow-y: scroll;
  }
  
  .message-list {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .chat-input {
    display: flex;
    align-items: center;
    padding: 10px;
    border-top: 1px solid #ccc;
  }
  
  .message-input {
    flex: 1;
    border: none;
    outline: none;
    padding: 5px;
    font-size: 14px;
  }
  
  .send-button {
    border: none;
    outline: none;
    background-color: #333;
    color: #fff;
    font-size: 14px;
    padding: 5px 10px;
    cursor: pointer;
  }
  
  .send-button:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
  }

  .centrar{
    display: flex;
    align-items: center;
    justify-content: center;
    
  }